## Task_1
Given list of customer_id that doing transaction in 1 day:customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']
How many unique customer_id from above list?

In [9]:
import pandas as pd

In [10]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [11]:
print("Jumlah data semua")
print(len(customer_id))

print("Jumlah data yang unik")

df = pd.DataFrame(customer_id)

display(df.drop_duplicates()) 

customer_id=(list(set(customer_id)))
print(len(customer_id))

Jumlah data semua
63
Jumlah data yang unik

       0
0   B818
1   A461
2   A092
3   A082
4   B341
5   A005
8   B219
9   B904
10  A901
11  A083
15  B821
34  B439

12

## Task_2

Given list of:Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]
Use indexing so you can get this output:
a.16
b.[36, 49, 64, 81]
c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]5

In [12]:
Data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
print("Jumlah Data")
print(len(Data))
print("Index Data ke 4")
print(Data[3])
print(Data[5:9])
print(Data[::-1]) #memakai step
print(Data[0::10]) #memakai step_2
print(Data[0::7]) #memakai step_2
print(Data[0:1:7]) #memakai step_3

Jumlah Data
10
Index Data ke 4
16
[36, 49, 64, 81]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]
[1]
[1, 64]
[1]

## Task_3
Given a dictionary of:provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}
What python command can be use to:
a.Get list of keys available in dictionary
b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [14]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

In [15]:
print(provinsi.keys())

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

In [16]:
provinsi['Jawa Timur'] = 'Surabaya'
provinsi

{'Nanggroe Aceh Darussalam': 'Aceh',
 'Sumatera Selatan': 'Palembang',
 'Kalimantan Barat': 'Pontianak',
 'Jawa Timur': 'Surabaya',
 'Sulawesi Selatan': 'Makassar',
 'Maluku': 'Ambon'}